<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>

      {% if site.tagline %}
        <p class="lead">{{ site.tagline }}</p>
      {% endif %}

      {% if site.description %}
        <p>{{ site.description }}</p>
      {% endif %}
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/">About</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/research/">Research</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/publications/">Publications</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/assets/GD_CV_without_pub_list.pdf" target="_blank" rel="noopener">CV</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/contact/">Contact</a>
    </nav>
    
    <div class="sidebar-icons">
      <a href="mailto:g.dimitriadis@lancaster.ac.uk"
         aria-label="Email">
        <img src="{{ site.baseurl }}/public/icons/mail.svg" alt="Email">
      </a>
      <a href="https://orcid.org/0000-0001-9494-179X"
         target="_blank" rel="noopener"
         aria-label="ORCID">
        <img src="{{ site.baseurl }}/public/icons/orcid.svg" alt="ORCID">
      </a>
      <a href="https://ui.adsabs.harvard.edu/user/libraries/9QZsHjSzS3GgJT5W_WMhHw"
         target="_blank" rel="noopener" 
         aria-label="NASA ADS">
        <img src="{{ site.baseurl }}/public/icons/ads-logo.svg" alt="NASA ADS">
      </a>
      <a href="https://github.com/geodimitriadis"
         target="_blank" rel="noopener"
         aria-label="GitHub">
        <img src="{{ site.baseurl }}/public/icons/github.svg" alt="GitHub">
      </a>
    </div>

    <p class="sidebar-copyright">
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
    
  </div>
</div>
